@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: none;
    padding: none;
}

#nomeMarca {
  font-family: 'Poppins', sans-serif;
  /* font-size: 1.4rem; */
}

#chatBot {
    transition: all 0.3s ease;
}

#chatBot:hover {
    transform: scale(1.1);
}

#chatBot:active {
    transform: scale(1.05);
}

.text-blue-gradient {
    @apply bg-gradient-to-r from-blue-500 via-sky-400 to-blue-500;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: background-pan 3s linear infinite;
}

.text-dark-gradient {
    @apply bg-gradient-to-r from-gray-300 via-gray-300 to-gray-300 from-45% to-95%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: background-pan 3s linear infinite;
}

.bg-blue-gradient {
    @apply bg-gradient-to-r from-blue-500 via-sky-400 to-blue-500;
    background-size: 200%;
    animation: background-pan 3s linear infinite;
}

.bg-blue-gradient-accordion {
    @apply bg-gradient-to-r from-blue-500 via-sky-400 to-blue-500 hover:from-blue-600 hover:via-sky-500 hover:to-blue-600;
    background-size: 200%;
    animation: background-pan 3s linear infinite;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

.logoAtendeAi {
    filter: saturate(150%) brightness(125%);
}

#six {
    cursor: pointer;
    transition: all 0.5s ease;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1em;
}

#six:hover {
    transform: scale(1.1); 
    color: #02f783;
}

.lojaMobile {
    filter: drop-shadow(0 0 3px #fff);
    transition: all 0.5s ease;
}

.lojaMobile:hover {
    filter: drop-shadow(0 0 8px #fff);
}

h3 {
    letter-spacing: -0.025rem;
}